.button {
  height: 32px;
  background: var(--vscode-debugToolBar-background);
  border-color: var(--vscode-debugToolBar-background);
}

.button-icon {
  fill: var(--vscode-badge-foreground);
}

.play-button {
  border-radius: 8px 0px 0px 8px;
}

.refresh-button {
  border-radius: 0px 8px 8px 0px;
}

.button:hover {
  background-color: var(--vscode-terminal-selectionBackground);
}

.play-button:focus,
.play-button:hover,
.refresh-button:focus,
.refresh-button:hover {
  background-color: var(--vscode-terminal-selectionBackground);
}

.button:active {
  background-color: var(--vscode-editor-selectionHighlightBackground);
}

.toolbar-button {
  border: none;
}

.toolbar-button:focus,
.toolbar-button:hover {
  outline: none;
}

.edge-button {
  pointer-events: none;
  border: none;
}

.button-pressed {
  background-color: var(--vscode-button-background);
  outline: none;
}
