.title {
    font-size: 14px;
    text-align: left;
}

.header {
    -webkit-appearance: none;
    height: 30px;
    margin-bottom: 2px;
}

.MotionSensorBar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sensor-button-container {
    padding: 10px 0;
}
