.sensor-button {
  color: var(--vscode-badge-foreground);
  text-align: center;
  background-color: var(--vscode-button-background);
  width: 343px;
  height: 32px;
  border: none;
  font-weight: bolder;
  float: left;
  padding-left: 20px;
}

.sensor-button:focus {
  outline-width: thick;
  outline-offset: 4px;
  outline: 2px solid var(--vscode-focusBorder);
}
.sensor-button:hover {
  outline: none;
  background-color: var(--vscode-button-hoverBackground);
}
.sensor-button:active {
  outline: none;
  background-color: var(--vscode-button-hoverBackground);
}
