.sensor-button {
    color: var(--vscode-badgeForegroundOverride);
    text-align: center;
    background-color: var(--vscode-button-background);
    width: 90%;
    max-width: 320px;
    height: 32px;
    font-weight: bolder;
    float: left;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-color: var(--vscode-highContrastButtonBorderOverride-color);
    border-width: 1px;
    border-style: solid;
}

.sensor-button:focus,
.sensor-button:active {
    outline-width: thick;
    outline-offset: 4px;
    outline: 2px solid var(--vscode-focusBorder);
    background-color: var(--vscode-button-hoverBackground);
}
.sensor-button:active,
.active-button {
    opacity: 0.5;
}
.sensor-button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
