.simulator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  max-height: 300px;
  min-width: 240px;
  min-height: 240px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: center;
}
