.microbit-svg {
    padding: 0 0 0 10px;
}
svg.sim {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
}
svg.sim.grayscale {
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.sim-button-group {
    cursor: pointer;
}
.sim-button {
    pointer-events: none;
    fill: "rgb(17, 17, 17)";
}
.sim-button:active {
    fill: orange;
}
.sim-text-outside {
    font-size: 25px;
    fill: var(--vscode-descriptionForeground);
}
.sim-board,
.sim-display,
sim-button {
    fill: #111;
}
.sim-button-outer:hover {
    stroke: orange;
    stroke-width: 4px;
}
.sim-button-outer:active {
    fill: orange;
}
.sim-button-outer {
    fill: #7e7272;
}

.sim-button-key-press {
    fill: orange;
}

.sim-button-nut {
    fill: #704a4a;
    pointer-events: none;
}

/*
.sim-button-nut:hover {
    stroke: 1px solid #704a4a;
}
.sim-pin:hover {
    stroke: #d4af37;
    stroke-width: 2px;
}
.sim-pin-touch.touched:hover {
    stroke: darkorange;
}
.sim-led-back:hover {
    stroke: #a0a0a0;
    stroke-width: 3px;
}
.sim-led:hover {
    stroke: #ff7f7f;
    stroke-width: 3px;
} */
.sim-systemled {
    fill: #333;
    stroke: #555;
    stroke-width: 1px;
}
.sim-light-level-button {
    stroke: #fff;
    stroke-width: 3px;
}
.sim-antenna {
    stroke: #555;
    stroke-width: 2px;
}
.sim-text {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    fill: #fff;
    pointer-events: none;
}
.sim-text-pin {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    fill: #fff;
    pointer-events: none;
}
.sim-thermometer {
    stroke: #aaa;
    stroke-width: 3px;
}
/* animations */
.sim-flash {
    animation-name: sim-flash-animation;
    animation-duration: 0.1s;
}
@keyframes sim-flash-animation {
    from {
        fill: yellow;
    }
    to {
        fill: default;
    }
}
.sim-flash-stroke {
    animation-name: sim-flash-stroke-animation;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
}
@keyframes sim-flash-stroke-animation {
    from {
        stroke: yellow;
    }
    to {
        stroke: default;
    }
}
/* wireframe */
.sim-wireframe * {
    fill: none;
    stroke: black;
}
.sim-wireframe .sim-display,
.sim-wireframe .sim-led,
.sim-wireframe .sim-led-back,
.sim-wireframe .sim-head,
.sim-wireframe .sim-theme,
.sim-wireframe .sim-button-group,
.sim-wireframe .sim-button-label,
.sim-wireframe .sim-button,
.sim-wireframe .sim-text-pin {
    visibility: hidden;
}
.sim-wireframe .sim-label {
    stroke: none;
    fill: #777;
}
.sim-label,
.sim-button-label {
    fill: #000;
}
.sim-wireframe .sim-board {
    stroke-width: 2px;
}
*:focus {
    outline: none;
}
.sim-button-group:focus {
    stroke: #4d90fe;
    stroke-width: 4px;
}
.sim-button-group:focus {
    stroke: #4d90fe;
    stroke-width: 4px;
}
*:focus .sim-button-outer,
.sim-pin:focus,
.sim-thermometer:focus,
.sim-shake:focus,
.no-drag,
.sim-text,
.sim-text-pin {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.sim-button {
    stroke: none;
}
.sim-button:active {
    stroke: none;
}
.cls-1 {
    fill: #097054;
}
.cls-1,
.cls-14,
.cls-23,
.cls-9 {
    stroke: #000;
}
.cls-1,
.cls-11,
.cls-12,
.cls-14,
.cls-17,
.cls-22,
.cls-23,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-9 {
    stroke-miterlimit: 10;
}
.cls-1,
.cls-23 {
    stroke-width: 1.99px;
}
.cls-18,
.cls-2 {
    fill: #fff;
}
.cls-11,
.cls-12,
.cls-17,
.cls-23,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    fill: none;
}
.cls-11,
.cls-12,
.cls-17,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    stroke: #fff;
}
.cls-3 {
    stroke-width: 2px;
}
.cls-12,
.cls-17,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    stroke-linecap: round;
}
.cls-4,
.cls-7 {
    stroke-width: 1.63px;
}
.cls-5 {
    stroke-width: 1.41px;
}
.cls-6 {
    stroke-width: 1.6px;
}
.cls-7,
.cls-8 {
    stroke-linejoin: round;
}
.cls-8 {
    stroke-width: 1.63px;
}
.cls-10,
.cls-9 {
    fill: #7e7272;
}
.cls-22,
.cls-9 {
    stroke-width: 1.5px;
}
.cls-12 {
    stroke-width: 1.71px;
}

.cls-14 {
    stroke-width: 0.25px;
}
.cls-16 {
    fill: #ffde00;
}
.cls-17 {
    stroke-width: 2.02px;
}
.cls-18 {
    font-size: 7px;
    font-family: SegoeUI-Bold, Segoe UI;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.cls-19 {
    letter-spacing: -0.03em;
}
.cls-20 {
    letter-spacing: -0.05em;
}
.cls-21 {
    letter-spacing: 0em;
}
.cls-22 {
    stroke: #7e7272;
}
.sim-text-outside {
    font-size: 14px;
    fill: var(--vscode-descriptionForeground);
}
