.simulator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
}

.file-selector {
  padding: 20px;
}
