.toolbar {
  background: var(--vscode-debugToolBar-background);
  width: fit-content;
  box-shadow: 0px 0px 20px black;
  border-radius: 2px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 53px;
  margin-bottom: 50px;
}

.tag,
.title {
  display: inline;
}

.sensor_modal {
  vertical-align: middle;
  width: 320px;
  position: relative;
  height: fit-content;
}
.title {
  -webkit-appearance: none;
  font-size: 16px;
  font-weight: bolder;
  color: var(--vscode-badge-foreground);
  text-align: left;
  margin-right: 60px;
  position: absolute;
  left: 0;
}
.tag {
  position: absolute;
  left: 200px;
}
.close_icon {
  position: absolute;
  right: 0;
}

.description {
  -webkit-appearance: none;
  font-size: 14px;
  color: var(--vscode-badge-foreground);
  word-wrap: break-word;
  width: 320px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  line-height: 17px;
  font-weight: 100;
  opacity: 50%;
}

.title_group {
  margin-top: 20px;
  width: fit-content;
}

.try_area {
  position: relative;
}

.left-edge {
  height: 32px;
  background: var(--vscode-debugToolBar-background);
  border-color: var(--vscode-debugToolBar-background);
  border-radius: 8px 0px 0px 8px;
  width: 16px;
}
