.toolbar {
  background: var(--vscode-debugToolBar-background);
  width: fit-content;
  box-shadow: 0px 0px 20px black;
  border-radius: 2px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 53px;
  margin-bottom: 50px;
}
