:root{
    --unknown-gray-color:#cccccc;
}
.inputSlider{
    height: 50px;
    margin-bottom: 100px;
}
.sliderValue{
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: var(--vscode-editor-background);
    color: white;
    border:0;
    margin-right: 15px;
}

.slider{
    -webkit-appearance: none;
    background-color: var(--unknown-gray-color);
    height: 1px;
    width: 280px;
    vertical-align: middle;
    
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    background:var(--vscode-textLink-activeForeground);
    cursor: pointer;
}

.slider::-webkit-slider-runnable-track:focus,
.inputSlider:focus,
.slider:focus{
    outline: none;
}

.sliderValue:focus{
    outline-color:  var(--vscode-textLink-activeForeground);
}
.maxLabel,
.minLabel{
    display: inline-block;
    font-size: 12px;
    position: relative;
    vertical-align: top;

}

.maxLabel{
    margin-left: 220px;
}

.sliderArea,
.sliderValue{
    display: inline-block;
}

.sliderArea{
    width: 280px;
    height: 30px;
    vertical-align: middle;

}
.downLabelArea{
    width: 280px;
    height: 15px;
    margin-top: 10px

}
.upLabelArea{
    width: 280px;
    height: 15px;
    margin-bottom: 10px;

}

.slider,.upLabelArea,.downLabelArea{
    display: block;
}