.faren,.celsius{
    margin-right: 50px;
    font-size: 14px;
    display: inline;
    

}

.unitChoice{
    font-size: 14px;
}
.title{
    font-size: 14px;
    text-align: left;

}

.header{
    -webkit-appearance: none;
    height: 30px;
    margin-bottom: 30px;

}

.temperatureSensorBar{
    margin-top: 20px;
}